{% extends 'base.html.twig' %}

{% block title %}Truc index{% endblock %}

{% block body %}
    <h1>Truc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Machin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for truc in trucs %}
            <tr>
                <td>{{ truc.id }}</td>
                <td>{{ truc.Machin }}</td>
                <td>
                    <a href="{{ path('truc_show', {'id': truc.id}) }}">show</a>
                    <a href="{{ path('truc_edit', {'id': truc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('truc_new') }}">Create new</a>
{% endblock %}
